<div class="col-lg-9 col-lg-offset-2">

	<div class="card mt-4">
		<img class="card-img-top img-fluid" src="https://www.makingascene.org/wp-content/uploads/2016/09/13731032_10208857131099207_7111187462188190109_o-900x400.jpg" alt="">
		<div class="card-body">
			<h3 class="card-title">{{music.artistName}}</h3>
			<h4>{{music.albumName}}</h4>
			<p class="card-text">{{music.genre}}</p>
			<span class="text-warning">{{music.albumCover}}</span>
		</div>
	</div>

	<div class="card card-outline-secondary my-4">
		<div class="card-header">
			{{music.yearOfRelease}}
		</div>
		<div class="card-body">
			<p>{{music.spotifyLink}}</p>
			<small class="text-muted">Spotify Link</small>
			<hr>
			{{#link-to 'musics' class="btn btn-success"}}Back{{/link-to}}
		</div>
	</div>

</div>
